#tankbeurtOverzicht  {
    li {
        list-style: none;
        list-style-type:none;
        
    }
    #tankbeurtHeader {
        justify-content: end;
    }
}

.tankbeurtTabelCel {
    text-align: right;
    font-size: medium;
    margin-top: 11px;        
    margin-left: 35px;        
}

.datumCel {
font-size: x-large;
font-weight: bold;
} 
