/* .lijnLinks {
    font-size: x-large;
} */
.voertuigTabelCel {
    text-align: right;
    font-size: medium;
    margin-top: 11px;
}

.desc {
    font-size: x-large;
} 

#voertuigOverzicht  {
    li {
        list-style: none;
        list-style-type:none;
    }
}


